@model CodeGolf.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Code Golf";
}

<i>Complete problems in the least number of characters.</i>

<h3>Recently Designed Holes</h3>
<table class="table">
    <tr>
        <th>Language</th>
        <th>Name</th>
        <th>Designer</th>
        <th>Rounds Played</th>
        <th>Low Score</th>
    </tr>
    @foreach (var item in Model.RecentProblems)
    {
        <tr>
            <td><span class="label label-success">@item.Language</span></td>
            <td><a href="/problem/index/@item.Id">@item.Name</a></td>
            <td><a href="http://github.com/@item.Author"><i class="fa fa-github fa-lg"></i>  @item.Author</a></td>
            <td><span class="badge">@item.SolutionCount </span></td>
            <td><span class="badge">@item.ShortestSolution </span></td>
        </tr>
    }


</table>

<h3>Popular Holes</h3>
<table class="table">
    <tr>
        <th>Language</th>
        <th>Name</th>
        <th>Designer</th>
        <th>Rounds Played</th>
        <th>Low Score</th>
    </tr>
    @foreach (var item in Model.PopularProblems)
    {
        <tr>
            <td><span class="label label-success">@item.Language</span></td>
            <td><a href="/problem/index/@item.Id">@item.Name</a></td>
            <td><a href="http://github.com/@item.Author"><i class="fa fa-github fa-lg"></i>  @item.Author</a></td>
            <td><span class="badge">@item.SolutionCount </span></td>
            <td><span class="badge">@item.ShortestSolution </span></td>
        </tr>
    }


</table>
