@{
    ViewData["Title"] = "Code Golf";
}

<h1><a href="http://github.com/@Model.User.Identity"><i class="fa fa-github fa-lg"></i> @Model.User.Identity</a></h1>

<h3>Problems</h3>
<table class="table">
    <tr>
        <th>Language</th>
        <th>Name</th>
        <th>Solutions</th>
    </tr>
    @foreach (var item in Model.Problems)
    {
        <tr>
            <td><span class="label label-success">@item.Language</span></td>
            <td><a href="~/problem/index/@item.Id">@item.Name</a></td>
            <td><span class="badge">@item.Solutions</span></td>
        </tr>
    }
</table>

<h3>Solutions</h3>
<table class="table">
    <tr>
        <th>Language</th>
        <th>Problem</th>
        <th>Score</th>
    </tr>
    @foreach (var item in Model.Solutions)
    {
        <tr>
            <td><span class="label label-success">@item.Language</span></td>
            <td><a href="~/problem/index/@item.ProblemId">@item.Problem</a></td>
            <td><span class="badge">@item.Length</span></td>
        </tr>
    }
</table>